<h3>Patient Information</h3>
<p>Introduce patient information to get a report of average risk and benefit of different treatements for similar patients</p>

<form action = "http://localhost:5000/result" method = "POST">
    <p>Age (years)<input type = "number" name = "Age" /></p>
    <p>Weight (kg)<input type = "number" name = "Weight" /></p>
    <p>Height (cm)<input type = "number" name = "Height" /></p>
    <p>Sex <select type ="text" name = "Sex" />
    <option value = "Female"> Female</option>
    <option value = "Male"> Male</option>
    </p>
    <p><input type = "submit" value = "submit" /></p>
 </form>